[run]
source = .
omit =
    tests/*
    .venv/*
    venv/*
    */site-packages/*
concurrency = multiprocessing
parallel = True
sigterm = True

[report]
precision = 2
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:

[html]
directory = htmlcov
